        <section class="right-panel">

            <div class="game-window-wrap">
                <div class="game-window">
                    <div id="canvas"></div>
                </div>
                <div class="stats">Terrariums connected: <span id="terrarium-count"></span></div>
            </div>

            <div id="channel-name">
                Listening to channel <strong>General</strong>:
            </div>
            <ul id="logs">
                <li><i>No message yet.</i></li>
            </ul>

            <footer>
                <a href="http://wiselabs.net">We can develop your web app or mentor your developers</a><br/> (web applications, asp.net or facebook apps development)
            </footer>

        </section>

        
        <aside class="game-controls">
            <div class="step-wrap open">
                <header>
                    <h2>What type of animal do you want to write?</h2>
                </header>
                <div class="step">
                    <p>Load some sample animal to guide your first steps in Terrarium.js.</p>
                    <p>An herbivore can eat plants, carnivores can eat all animals but not the plants.</p><p>Every action, like attacking, defending or reproducing consumes energy. An animal can recover energy by eating food. If the energy bar reaches zero, the animal dies.</p>
                    <input id="load-herbie" type="button" value="Load a Herbivore skeleton" />
                    <input id="load-carnie" type="button" value="Load a Carnivore skeleton" />
                </div>
            </div>
            <div class="step-wrap">
                <header>
                    <h2>Species</h2>
                </header>
                <div class="step">
                    <textarea class="editor" id="editor-species"></textarea>
                </div>
            </div>
            <div class="step-wrap">
                <header>
                    <h2>Common code</h2>
                </header>
                <div class="step">
                    <textarea class="editor" id="editor-Common"></textarea>
                </div>
            </div>
            <div class="step-wrap">
                <header>
                    <h2>OnIdle</h2>
                </header>
                <div class="step">
                    <textarea class="editor" id="editor-OnIdle"></textarea>
                </div>
            </div>
            <div class="step-wrap">
                <header>
                    <h2>OnEatCompleted</h2>
                </header>
                <div class="step">
                    <textarea class="editor" id="editor-OnEatCompleted"></textarea>
                </div>
            </div>
            <div class="step-wrap">
                <header>
                    <h2>OnMoveCompleted</h2>
                </header>
                <div class="step">
                    <textarea class="editor" id="editor-OnMoveCompleted"></textarea>
                </div>
            </div>

            <div class="step-wrap">
                <header>
                    <h2>OnAttacked</h2>
                </header>
                <div class="step">
                    <textarea class="editor" id="editor-OnAttacked"></textarea>
                </div>
            </div>
            <div class="step-wrap">
                <header><h2>Submit your creation!</h2></header>
                <div class="step">                
                	<input id="load-code" type="button" value="Introduce animal" />
                    <input id="load-plant" type="button" value="Add a plant" />
                </div>
            </div>
<!--        	<input id="run" type="button" value="Start game" /> -->
        </aside>

